.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  gap: 4rem;
  position: relative;
}
.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* left Side */
.auth-left {
  gap: 1rem;
}
.auth-left > img {
  width: 3rem;
  height: 3rem;
}
.webName > h1 {
  font-size: 2.5rem;
  background-color: red;
  /* create gradient */
  background-image: var(--buttonBg);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.webName > h6 {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: -1rem;
}
.auth-right {
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
}

.infoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.infoInput {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 16px;
  flex: 1;
  /*  it convert width of input total space */
}

.infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}
.fileShare > input {
  margin-left: -0.8rem;
  width: 33%;
}
.fileShare {
  font-size: 14px;
}
.infoButton {
  width: 6rem;
  height: 2.2rem;
  align-self: flex-end;
}

.authForm > div {
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .Auth {
    gap: 2rem;
  }
  .auth-left > img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .webName > h1 {
    font-size: 2rem;
  }

  .auth-right {
    border-radius: 0.8rem;
    padding: 1rem;
  }

  .infoForm {
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .Auth {
    gap: 1rem;
  }
  .auth-left {
    gap: 0.5rem;
  }
  .auth-left > img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .webName > h1 {
    font-size: 1.5rem;
  }
  .webName > h6 {
    font-size: 0.8rem;
  }
  .infoForm {
    gap: 1.2rem;
  }
  .infoInput {
    border-radius: 5px;
    padding: 12px 4px;
  }
  .webName {
    margin-right: -0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .Auth {
    flex-direction: column;
    gap: 0.5rem;
  }
  .auth-left {
    gap: 0.8rem;
  }
  .auth-left > img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .webName > h1 {
    font-size: 1.5rem;
  }
  .webName > h6 {
    margin-top: -0.8rem;
    font-size: 0.8rem;
  }
   .auth-right {
    border-radius: 0.4rem;
    padding: 0.5rem;
  }
  .infoInput {
    border-radius: 5px;
    padding: 10px 3px;
  }
  .webName {
    margin-right: -0.5rem;
  }
  .fileShare > input {
    margin-left: -0.8rem;
    width: 30%;
  }
  .infoForm > div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 100%;
  }
  .infoForm {
    gap: 1rem;
  }
}
