.profile{
    position: relative;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 22rem auto 20rem;
    gap: 1rem;
}
.profile-center{
display: flex;
flex-direction: column;
gap: 1rem;
}
@media only screen and (max-width: 1200px) {
.profile {
    grid-template-columns: 20rem auto;
  }
}
@media only screen and (max-width: 800px) {
.profile {
    grid-template-columns: 16rem auto;
  }
}
@media only screen and (max-width: 700px) {
.profile {
    grid-template-columns:100%;
    margin: 0px;
    gap: 0;
  }
  .profilePage, .right-Side{
    display: none;
  }
}